@using Microsoft.AspNetCore.Identity
@using MoviesWebApp.Business.Services.Implementations;
@using MoviesWebApp.Core.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject LayoutService LayoutService
@{
    var genres = await LayoutService.GetGenres();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesWebApp</title>

    <link rel="stylesheet" href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/assets/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviesWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/main.css"/>
    <link rel="stylesheet" href="~/assets/css/movie-details.css" />
    <link rel="stylesheet" href="~/assets/css/movie.css" />
    

    <script type="module" src="Pages/About.cshtml.js" asp-append-version="true" defer></script>
</head>
<body class="body-layout">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/About">
                    <div class="logo-div-layout">
                        <h2 class="logo-text-layout">FALCON</h2>
                        <i class=" fa-solid fa-circle-play fa-lg custom-color"></i>
                        <h2 class="logo-text-layout">INSCOPE</h2>
                    </div>
                </a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ms-3">
                            <a class="nav-bar-link link-subline" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-bar-link link-subline" asp-area="" asp-page="/Home">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User)==false)
                        {
                            <li class="nav-item ms-3">
                                <a class="nav-bar-link link-subline" asp-area="" asp-page="/Movies/Movie">Movies</a>

                            </li>

                            <li class="dropdown nav-item ms-3">
                                <a class="nav-bar-link link-subline" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Genres
                                </a>

                                <ul class="dropdown-menu dropdown-nav-bar mt-5" aria-labelledby="dropdownMenuLink">
                                    @foreach(var genre in genres ){
                                        <li><a class="dropdown-item" asp-page="/Genre" asp-route-id="@genre.Id">@genre.Name</a></li>
                                    }
                                  
                                </ul>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-bar-link link-subline" asp-page="/Movies/TopIMDB">Top IMDB</a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-bar-link link-subline" asp-page="/Serials/Index">Serials</a>
                            </li>

                        }
                    </ul>

                </div>
                <div class="navbar-collapse collapse d-flex justify-content-end ">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="body-main"> 
        <div class="body" >
            @RenderBody()

        </div>
        </main>

    <footer class="border-top footer text-muted">
        <div  class="footer-main-div container-fluid">
            <div class="row justify-content-between  section-padding">
                <div class=" col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-footer pb--40">
                        <div class="brand-footer footer-title">
                            <img src="~/assets/image/logo--footer.png" alt="">
                        </div>
                        <div class="footer-contact">
                            <p>
                                <span class="label footer-text">Address:</span><span class="text">
                                    @* @settings.FirstOrDefault(x=>x.TKey == "Address").TValue*@
                                </span>
                            </p>
                            <p><span class="label footer-text">Contact:</span><span class="text">@*@settings.FirstOrDefault(x=>x.TKey == "Phone").TValue*@ </span></p>
                            <p><span class="label footer-text">Email:</span><span class="text">@*@settings.FirstOrDefault(x=>x.TKey == "Email").TValue*@</span></p>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-2 col-sm-6">
                    <div class="single-footer pb--40 mt-3">
                        <div class="footer-title">
                            <h3 class="footer-text">Explore</h3>
                        </div>
                        <ul style="list-style-type:none;" class="footer-ul footer-list list-group">

                            <li><a href="#">New Movies</a></li>
                            <li><a href="#">Best Movies</a></li>
                            <li><a href="#">Serials</a></li>
                            <li><a href="#">News</a></li>




                        </ul>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-2 col-sm-6">
                    <div class="single-footer pb--40 mt-3">
                        <div class="footer-title">
                            <h3 class="footer-text">Extras</h3>
                        </div>
                        <ul style="list-style-type:none;" class="footer-ul footer-list list-group">

                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Contact us</a></li>

                        </ul>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-title mt-4 mb-4">
                        <h3 style="color:#198754;">Newsletter Subscribe</h3>
                    </div>
                    <div class="me-4 mb-30">
                        <form action="https://demo.hasthemes.com/pustok-preview/pustok/php/mail.php">
                            <input type="email" class="form-control" placeholder="Enter Your Email Address Here...">
                            <div class="mb-3 mt-3 ">
                                <button class="btn btn-success w-100">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <div class="social-block">
                        <h3 class="title ms-3">STAY CONNECTED</h3>
                        <ul style="list-style-type:none;" class="social-list me-5  d-flex justify-content-between align-items-center">
                            <li class="single-social facebook">
                                <a href="#">
                                    <i style="color:#198754" class="fs-5 rounded-circle fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li class="single-social twitter"><a href="#"><i style="color:#198754" class="fs-5  rounded-circle fa-brands fa-x-twitter"></i></a></li>
                            <li class="single-social whatsapp">
                                <a href="#">
                                    <i style="color:#198754" class="fs-5  rounded-circle fa-brands fa-square-whatsapp"></i>
                                </a>
                            </li>
                            <li class="single-social instagram"><a href="#"><i style="color:#198754" class="fs-5  rounded-circle fa-brands fa-square-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">

                <p class="footer-text">
                    Copyright © 2023 <a style="text-decoration:none;color: #16a085;" href="#" class="author ">FALCONOINSCOPE</a>. All Right Reserved.

                    Design By Shahin Ismayilov
                </p>
            </div>
        </div>

    </footer>

    <script src="~/assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/site.js" asp-append-version="true"></script>
    <script type="module" src="Pages/About.cshtml.js" asp-append-version="true" defer></script>
  

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
