@page
@model MoviesWebApp.Pages.Movies.MovieDetailsModel
@{
    ViewData["Title"] = "Watch Movie";
}
<div class="container ">
    <div class="mt-5 ms-5 me-5">
        <video class="video-movie  w-100" controls>
            <source src="https://youtu.be/m87rP0uNtn8?si=kgdp-fAh7Ncxqjq9" type="video/mp4" />
            Your browser does not support the video tag.
        </video>

        <div class="container mb-3  shady-border">

            <div class="row pt-2 ">
                <div class="col-12 col-lg-2 d-none  d-lg-block">
                    <div class="picture-div">
                        <img class="card-img-each"
                             src='@(Model.Movie.ImageURL == null
        ? $"https://fakeimg.pl/300x300/?text={Model.Movie.Title}"
        : "../assets/uploads/movies/images/" + Model.Movie.ImageURL)'
                             alt="@Model.Movie.Title">

                        <div class=" d-grid gap-2 mt-2 gap-2">
                            <button class="btn btn-primary" type="button">Trailer</button>
                        </div>
                    </div>


                </div>
                <div class="mb-5 col-12   col-lg-6  border-sm-end">
                    <h1 class="card-title fs-4">@Html.DisplayFor(model=>model.Movie.Title)</h1>
                    <div class="page-each-description">
                        <p>@Html.DisplayFor(model=>model.Movie.Description)</p>
                    </div>

                    <div class="row">
                        <div class="movie-data-shower col-12 col-md-8 ">
                            <p class="p-genre">
                                <strong>Genre:</strong> @if (Model.Movie.Genres != null)
                                {
                                    @for (int i = 0; i <= Model.Movie.Genres.Count; i++)
                                    {
                                        @(Model.Movie.Genres[i].Genre.Name + (i != Model.Movie.Genres.Count - 1 ? " , " : ""))

                                    }
                                }
                            </p>
                            <p class="p-genre"> <strong>Actors:</strong> @Html.DisplayFor(m=>m.Movie.Actors)</p>
                            <p class="p-genre"> <strong>Director:</strong> @Html.DisplayFor(m=>m.Movie.Director)</p>
                            <p class="p-genre"> <strong>Country:</strong> @Html.DisplayFor(m=>m.Movie.Country)</p>


                        </div>
                        <div class="col-12 col-md-4">
                            <p class="p-genre"> <strong>IMDB:</strong> @Html.DisplayFor(m=>m.Movie.IMDB)</p>

                            <p class="p-genre"> <strong>Duration:</strong> @Html.DisplayFor(m=>m.Movie.Duration)</p>
                            <p class="p-genre"> <strong>Release:</strong> @Html.DisplayFor(m=>m.Movie.ReleaseDate.Year)</p>



                        </div>

                    </div>
                </div>
                <div class=" col-12 col-lg-4  justify-content-end">
                    <div class="d-grid gap-2">
                        <button class="stream-btn btn btn-primary" type="button">Stream in HD</button>
                        <button class="stream-btn btn btn-primary" type="button">Download in HD</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
