@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="free-div-register">

</div>
<div class="modal  fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog">
        <div class=" modal-content w-75 ">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-register" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                  
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-2 mt-2 d-flex ">
                        <i class="fas fa-envelope prefix grey-text me-1 mt-2"></i>
                        <input asp-for="Input.Username" class="form-control validate" placeholder="Your Username" autocomplete="off" aria-required="true" />
                        
                    </div>
                    <span class="ms-2 text-danger" asp-validation-for="Input.Username" class="text-danger"></span>
                    <div class="mb-2 mt-2 d-flex ">
                        <i class="fas fa-envelope prefix grey-text me-1 mt-2"></i>
                        <input asp-for="Input.Email" class="form-control validate" placeholder="Your Email" autocomplete="off" aria-required="true" />
                       
                    </div>
                    <span class="ms-2 text-danger" asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="mb-2 mt-2 d-flex ">
                        <i class="fas fa-lock prefix grey-text me-1 mt-2"></i>
                        <input asp-for="Input.Password" id="defaultForm-pass" placeholder="Your Password" class="form-control validate">
                        

                    </div>
                    <span class="ms-2 text-danger" asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="mb-2 mt-2 d-flex ">
                        <i class="fas fa-lock prefix grey-text me-1 mt-2"></i>
                        <input asp-for="Input.ConfirmPassword" id="defaultForm-pass" placeholder="Confirm Password" class="form-control validate">
                      
                    </div>
                    <span class="ms-2 text-danger" asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    
                </form>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-danger w-100" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa-brands fa-google"></i> Sign Up with @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="form-register" type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            // Open the login modal on page load
            $('#registerModal').modal('show');
        });
    </script>
}

